# =========================
# Python cache & build artifacts
# =========================
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# =========================
# Virtual environments
# =========================
.env
.venv
venv/

# =========================
# Gaussian / quantum chemistry files
# =========================
*.chk
*.log
*.out

# Ignore fchk and xyz by default
*.fchk
*.xyz

# BUT keep example files (important!)
!examples/**/*.fchk
!examples/**/*.xyz

# =========================
# OS junk
# =========================
.DS_Store
